{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          { "type": "chore", "scope": "deps", "release": "patch" }
        ]
      }
    ]
  ]
}