name: "Release & Publish to NPM"
on:
  push:
    branches: [main]
  pull_request:
    branches: "*"
permissions:
  id-token: write  # Required for OIDC
  contents: write
jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22"
      - name: Install Dependencies
        run: npm i
      - name: Run Tests
        run: npm run test
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: [quality]
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22"
      - name: Install Dependencies
        run: npm i
      - name: Run release
        run: npm run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB }}
      - name: End message
        run: echo 'All done!'
